<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빅데이터분석</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        .title{
            text-align: center;
        }
        .sql{
            text-align: center;
        }
        .img{
            text-align: center;
        }
        .flask{
            text-align: center;
        }
        .practice{
            text-align: center;
        }
    </style>
</head>

<body>

    <h2 class="title">빅데이터분석 강의자료 정리</h2>
    <div class="sql">
        <div class="alert alert-danger" role="alert">
            <a href="/sql" class="alert-link">SQL</a>
        </div>
    </div>

    <div class="img">
        <div class="alert alert-warning" role="alert">
            <a href="/image" class="alert-link">이미지 처리</a>
        </div>
    </div>

    <div class="flask">
        <div class="alert alert-success" role="alert">
            <a href="/flask" class="alert-link">Flask</a>
        </div>
    </div>

    <div class="practice">
        <div class="alert alert-info" role="alert">
            <a href="https://yumei1992.tistory.com/entry/Flask-%EC%A0%9C2%EA%B0%95" class="alert-link">연습문제</a>
        </div>
    </div>

</body>
</html>