<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빅데이터분석</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="flask_url">
        <a class="badge badge-info" href="https://yumei1992.tistory.com/entry/Flask-%EC%A0%9C1%EA%B0%95" >제1강</a>
        <a class="badge badge-warning" href="https://yumei1992.tistory.com/entry/Flask-%EC%A0%9C2%EA%B0%95" >제2강</a>
    </div> 
</body>
</html>