<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빅데이터분석</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="img_url">
        <a class="badge badge-info" href="https://yumei1992.tistory.com/entry/python-%EC%9D%B4%EB%AF%B8%EC%A7%80%EC%B2%98%EB%A6%AC-%EC%A0%9C1%EA%B0%95numpy%EB%A1%9C-%EC%9D%B4%EB%AF%B8%EC%A7%80%EC%B2%98%EB%A6%AC-JPG-PNG-GIF-RGB-RGBA-HSV" >제1강</a>
        <a class="badge badge-warning" href="https://yumei1992.tistory.com/entry/python-%EC%9D%B4%EB%AF%B8%EC%A7%80%EC%B2%98%EB%A6%AC-%EC%A0%9C2%EA%B0%95openCV" >제2강</a>
        <a class="badge badge-danger" href="https://yumei1992.tistory.com/entry/python-%EC%9D%B4%EB%AF%B8%EC%A7%80%EC%B2%98%EB%A6%AC-%EC%A0%9C3%EA%B0%95openCV" >제3강</a>
        <a class="badge badge-success" href="https://yumei1992.tistory.com/entry/python-%EC%9D%B4%EB%AF%B8%EC%A7%80%EC%B2%98%EB%A6%AC-%EC%A0%9C4%EA%B0%95%EC%96%BC%EA%B5%B4-%EC%A0%95%EB%A9%B4%EC%9D%B8%EC%8B%9D" >제4강</a>
    </div> 

</body>
</html>