<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빅데이터분석</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>

<body>

    <div class="sql_1">
        <h1 class="display-4">SQL 제1강</h1>
        <p class="lead">MySQL, DBeaver, SQLlite</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">보기</a>
        </p>
        
    </div>
    <hr class="my-4">
    <div class="sql_2">
        <h1 class="display-4">SQL 제2강</h1>
        <p class="lead">MySQL, DBeaver, SQLlite</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">보기</a>
        </p>
        
    </div>

    <div class="sql_3">
        <h1 class="display-4">SQL 제3강</h1>
        <p class="lead">MySQL, DBeaver, SQLlite</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">보기</a>
        </p>
        
    </div>

    <div class="sql_4">
        <h1 class="display-4">SQL 제4강</h1>
        <p class="lead">MySQL, DBeaver, SQLlite</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">보기</a>
        </p>
        
    </div>

    <div class="sql_5">
        <h1 class="display-4">SQL 제5강</h1>
        <p class="lead">MySQL, DBeaver, SQLlite</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">보기</a>
        </p>
        
    </div>

    <div class="sql_6">
        <h1 class="display-4">SQL 제6강</h1>
        <p class="lead">MySQL, DBeaver, SQLlite</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">보기</a>
        </p>
    </div>
    
    <div class="sql_url">
        <a class="badge badge-info" href="https://yumei1992.tistory.com/entry/SQL-%EC%A0%9C1%EA%B0%95RDBMS%EC%9D%98-%EC%9D%98%EB%AF%B8" >제1강</a>
        <a class="badge badge-warning" href="https://yumei1992.tistory.com/entry/SQL-%EC%A0%9C2%EA%B0%95Insert-%EC%97%B4%EA%B0%92%EC%9D%98-%EC%9E%90%EB%8F%99%EC%B6%94%EA%B0%80-Select-Experssion-Language-Update-Delete-DDL-DML-Table%EB%B3%80%EA%B2%BD-Tabel%EC%82%AD%EC%A0%9C-Table%EC%9D%98-%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A7%8C-%EC%82%AD%EC%A0%9C-Alias-View-Date-Time-Date-and-Time-Function" >제2강</a>
        <a class="badge badge-danger" href="https://yumei1992.tistory.com/entry/SQL-%EC%A0%9C3%EA%B0%95%ED%8F%89%EA%B7%A0-%ED%8E%B8%EC%B0%A8-%EB%B6%84%EC%82%B0-%ED%91%9C%EC%A4%80%ED%8E%B8%EC%B0%A8-join-%EC%A7%91%EA%B3%84%ED%95%A8%EC%88%98-%EA%B7%B8%EB%A3%B9%ED%99%94-union-union-all-%EC%9D%B4%EB%AF%B8%EC%A7%80" >제3강</a>
        <a class="badge badge-success" href="https://yumei1992.tistory.com/entry/SQL-%EC%A0%9C4%EA%B0%95open-API-Json-Encoding-Decoding-ERD-Subquery-Select-From-Where-Group-by-Having-Order-by-Unix-time-Julian-Day" >제4강</a>
        <a class="badge badge-secondary" href="https://yumei1992.tistory.com/entry/SQL-%EC%A0%9C5%EA%B0%95" >제5강</a>
        <a class="badge badge-primary" href="https://yumei1992.tistory.com/entry/SQL-%EC%A0%9C6%EA%B0%95%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4" >제6강</a>
    </div> 

</body>
</html>