<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 보기</title>

    <!-- image_page_style.scc 스타일 시트를 불러오기 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='image_page_style.css')}}">
</head>
<body>
    <div class="container">

        <!-- 이미지 파일을 출력하기 -->
        <div class="image-upload" id="image-upload">
            <form enctype="multipart/form-data">
                <div class="button">
                    <label for="chooseFile">
                        👉 CLICK HERE! 👈
                    </label>
                </div>
                <input type="file" id="chooseFile" name="chooseFile" accept="C:\Users\yumei\Desktop\py\Project\image" onchange="loadFile(this)" >
            </form>
            
            <!-- 파일이름만 출력하고 Submit를 클릭시 이미지 출력 -->
            <div class="fileContainer">
                <div class="fileInput">
                    <p>FILE NAME: </p>
                    <p id="fileName"></p>
                </div>
                <div class="buttonContainer">
                    <div class="submitButton" id="submitButton">SUBMIT</div>
                </div>
                
            </div>
        </div>

        <!-- 이미지 출력하기 -->
        <div class="image-show" id="image-show"></div>
    </div>
    

    <script>
        //Submit 버튼 클릭시 이미지 보여주기
        var submit = document.getElementById('submitButton');
        submit.onclick = showImage;     

        function showImage() {
            var newImage = document.getElementById('image-show').lastElementChild;
             //이미지는 화면에 나타나기
            newImage.style.visibility = "visible";
            
            // document.getElementById('image-upload').style.visibility = 'hidden';  버튼을 숨기기

            //기존 파일 이름 지우기
            document.getElementById('fileName').textContent = null;     
        }

        // 이미지 출력하기
        function loadFile(input) {
            // 이미지 파일을 정의하기
            var file = input.files[0];

            // 파일네임을 정의하고 이름을 가져오기
            var name = document.getElementById('fileName');
            name.textContent = file.name;

            // 풀더에 있는 이미지를 가져오기
            var newImage = document.createElement("img");
            newImage.setAttribute("class", 'img');

            newImage.src = URL.createObjectURL(file);   

            // 이미지의 사이즈를 설정하기
            newImage.style.width = "70%";
            newImage.style.height = "70%";
            //버튼을 클릭 전까지는 이미지 숨기기
            newImage.style.visibility = "hidden";   
            //버튼을 클릭후 이미지가 나타가기 
            newImage.style.objectFit = "contain";   

            // 이미지를 보기
            var container = document.getElementById('image-show');
            container.appendChild(newImage);
        }
    </script>
</body>
</html>