<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        손동작 인식 프로젝트
    </title>
    <!-- stylesheet 적용하기 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">


</head>
<body>
    <!-- 시작하기 버튼을 만들기 -->
    <div class="my_div my_bg">
        <button class="btn_start" onclick="location.href='Camera'">시작하기</button>
    </div>
</body>
</html>
